SERVER_HOST=0.0.0.0
SERVER_PORT=3004

BOT_NAME=mybot
BOT_TOKEN=your_bot_token_here
BOT_HOOK=https://example.com
BOT_API_ENDPOINT=https://api.telegram.org/bot%s/%s

PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=password
PGDBNAME=postgres
